{% extends 'base.html' %}

{% block title %} | Services {% endblock %}
{% block content %}

<!-- Sub banner start -->

<div class="sub-banner overview-bgi">
    <div class="container breadcrumb-area">
        <div class="breadcrumb-areas">
            <h1>Services</h1>
            <ul class="breadcrumbs">
                <li><a href="{% url 'home' %}">Home</a></li>
                <li class="active">Services</li>
            </ul>
        </div>
    </div>
</div>
<!-- Sub Banner end -->

<!-- Services start -->
<div class="services content-area">
    <div class="container">
        <!-- Main title -->
        <div class="main-title text-center">
            <h1>Our <span>Services</span></h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</p>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="service-info">
                    <div class="number">1</div>
                    <div class="icon">
                        <i class="flaticon-support-2"></i>
                    </div>
                    <div class="detail">
                        <h3>Free Support</h3>
                        <p>Get free support for your car headaches,
                            Our expert team is here, no mistakes.
                            From engine hums to tire shakes,
                            We've got solutions, no need for brakes!</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="service-info">
                    <div class="number">2</div>
                    <div class="icon">
                        <i class="flaticon-speed"></i>
                    </div>
                    <div class="detail">
                        <h3>Super Fast</h3>
                        <p>Zoom past obstacles with super-fast cars,
                            Unleash power that leaves behind scars.
                            With speed that breaks through bars,
                            Adventure awaits, under moon and stars!</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="service-info">
                    <div class="number">3</div>
                    <div class="icon">
                        <i class="flaticon-motor"></i>
                    </div>
                    <div class="detail">
                        <h3>Repairing</h3>
                        <p>From squeaky brakes to engines ajar,
                            Trust us to fix, no matter how far.
                            We'll mend your ride, make it like a star,
                            Smooth sailing ahead, no need to spar!</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="service-info">
                    <div class="number">4</div>
                    <div class="icon">
                        <i class="flaticon-air-conditioner"></i>
                    </div>
                    <div class="detail">
                        <h3>AIR conditioning</h3>
                        <p>Chill vibes on the road, no need to swelter,
                            With our AC fix, you'll feel much better.
                            Cool breezes flowing, whatever the weather,
                            Drive in comfort, your ride, our pleasure!</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="service-info">
                    <div class="number">5</div>
                    <div class="icon">
                        <i class="flaticon-fuel"></i>
                    </div>
                    <div class="detail">
                        <h3>Oil Change</h3>
                        <p>Keep your engine purring, oil change on the go,
                            Smooth rides ahead, with each mile's flow.
                            Lubricate, rejuvenate, let your car's heart glow,
                            With our service, your journey's in the know!</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="service-info">
                    <div class="number">7</div>
                    <div class="icon">
                        <i class="flaticon-wheel"></i>
                    </div>
                    <div class="detail">
                        <h3>Engine Repair</h3>
                        <p>LEngine trouble got you feeling low,
                            Fear not, we'll fix it, watch it go.
                            Expert hands, precision, we'll show,
                            Revive your ride, let your confidence grow!</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="service-info">
                    <div class="number">6</div>
                    <div class="icon">
                        <i class="flaticon-car-2"></i>
                    </div>
                    <div class="detail">
                        <h3>Dealership</h3>
                        <p>For quality cars and service fine,
                            Visit our dealership, a true gold mine.
                            From sales to repairs, we'll align,
                            Your satisfaction, our bottom line!</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="service-info">
                    <div class="number">8</div>
                    <div class="icon">
                        <i class="flaticon-lock"></i>
                    </div>
                    <div class="detail">
                        <h3>Security</h3>
                        <p>Guard your car with steadfast might,
                            Security solutions, day and night.
                            Peace of mind, no need for fright,
                            Your vehicle safe, in our sight!</p>
                    </div>
                </div>
            </div>
	
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="service-info">
                    <div class="number">9</div>
                    <div class="icon">
                        <i class="flaticon-deal"></i>
                    </div>
                    <div class="detail">
                        <h3>Trusted Agents</h3>
                        <p>In your car journey, trust is key,
                            Our agents ensure your satisfaction's decree.
                            Reliable service, swift and free,
                            With us, your trust, a guarantee!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Services end -->



<!-- Service center strat -->
<div class="service-center content-area-5">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
               
            </div>
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
                <div class="about-text">
                    <h3>Our Services <span>Video</span></h3>
                    <p>One morning, when Gregor Samsa woke from troubled dreams, he found himself transformed in his bed into a horrible vermin. He lay on his armour-like back, and if he lifted his head a little he could</p>
                    <p class="mb-0">morning, when Gregor Samsa woke from troubled dreams, he found himself transformed in his bed into a horrible vermin. He lay on his armour-like back, and if he lifted his head a little he could see himself transformed in his bed</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Service center end -->

{% endblock %}
